
.root {
  padding: 36px;
}

.table {
  display: flex;
  flex-direction: column;

  margin-top: 20px;
}

.row {
  display: flex;
}

.cell {
  border: 1px black solid;
  width: 50%;
  padding: 10px;
}

.root button {
  margin-right: 10px;
}